Repository dajoen/steam-pick: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, backlog-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: golangci-lint
        name: golangci-lint
        entry: golangci-lint run
        types: [go]
        language: system
        pass_filenames: false

      - id: backlog-lint
        name: Backlog Lint
        entry: bin/steam-pick backlog lint --fail-on error
        language: system
        pass_filenames: false
        files: ^(backlog/|CHANGELOG.md)

fix: resolve linter issues
  internal/backlog/backlog.go
  internal/backlog/backlog_test.go
  internal/backlog/changelog.go
  internal/cache/cache.go
  internal/cache/cache_test.go
  internal/cli/cli_test.go
  internal/cli/enrich.go
  internal/cli/profile.go
  internal/cli/recommend.go
  internal/cli/sync.go
  internal/db/db.go
  internal/db/db_test.go
  internal/llm/ollama.go
  internal/pcgw/client.go
  internal/steamapi/client.go
  internal/steamapi/client_test.go
  internal/storeapi/client.go
Due: golangci-lint

refactor: remove backlog command and package
  .pre-commit-config.yaml
  internal/backlog/backlog.go
  internal/backlog/backlog_test.go
  internal/backlog/changelog.go
  internal/backlog/lint.go
  internal/backlog/sync.go
  internal/cli/backlog.go
Due: golangci-lint

feat: implement offline list with sync interval
  internal/cli/list.go
  internal/db/db.go
Due: golangci-lint

chore: remove obsolete pre-commit script
  scripts/pre-commit
Due: none

feat: add login command and interactive authentication
  internal/cli/login.go
  internal/cli/root.go
  internal/cli/user.go
Due: golangci-lint

docs: update backlog with recent changes
  backlog/tasks/task-1 - Cache-the-vanity-in-db-and-store-gopass-path-if-used.md
  backlog/tasks/task-2 - Remove-internal-backlog-command.md
  backlog/tasks/task-3 - Implement-login-command.md
  backlog/tasks/task-4 - Implement-offline-list-with-sync-interval.md
  backlog/tasks/task-5 - Fix-linter-issues-and-update-pre-commit.md
Due: backlog-lint

docs: standardize backlog task IDs to SP-XXX format
  BACKLOG.md
  backlog/tasks/task-SP-018 - Cache-the-vanity-in-db-and-store-gopass-path-if-used.md
  backlog/tasks/task-SP-019 - Remove-internal-backlog-command.md
  backlog/tasks/task-SP-020 - Implement-login-command.md
  backlog/tasks/task-SP-021 - Implement-offline-list-with-sync-interval.md
  backlog/tasks/task-SP-022 - Fix-linter-issues-and-update-pre-commit.md
Due: backlog-lint

ci: add pre-commit github action
  .github/workflows/pre-commit.yml
  BACKLOG.md
  backlog/tasks/task-SP-023 - Add-pre-commit-GitHub-Action.md
Due: backlog-lint

docs: add copilot instructions
  .github/copilot-instructions.md
  BACKLOG.md
  backlog/tasks/task-SP-024 - Add-Copilot-Instructions.md
Due: backlog-lint
